body {
    margin: 0;
    text-align: center;
    font-family: merriweather;
    background:  -webkit-linear-gradient( #111, #1a1919, #111);
    -webkit-background-clip: text;
}
hr {
    display: none;
}
h1 {
    display: inline;
    margin: 70px auto 0 auto;
    font-family: sacramento;
    font-size: 5.60rem;
    background:  -webkit-linear-gradient(45deg, #ebc633, #bdec4d, #eec832);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h2 {
    font-family: Noto Sans;
    font-size: 1.8rem;
    background:  -webkit-linear-gradient(45deg, #FFD31D, #a9da39, #FFD31D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
h3 {
    font-family: Noto Sans;
    background:  -webkit-linear-gradient(45deg, #FFD31D, #a9da39, #FFD31D);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p {
    color: #d1d3d2;
}
a{
    background:  -webkit-linear-gradient(45deg, #FFD31D, #a9da39, #FFD31D);
    -webkit-background-clip: text;
}
.textoo {
    color: rgb(37, 36, 36);
}
.top-container {
    width: 100%;
    position: relative;
    padding-top: 20px;
}
.photo-marlon {
    width: 250px;
    height: 250px;
    border-radius: 100%;
}
.title-two {
    font-weight: lighter;
    margin-top: -10px;
    margin-bottom: 0;
}
.title-top {
    font-weight: lighter;
    margin-bottom: 10px;
}
.code-pc {
    margin: 0;
    width: 200px;
    height: 200px;
    padding-bottom: 30px;
    padding-top: 60px;
}
.des-mar {
    color: #d1d3d2;
}
.my-skills {
    font-family: Noto Sans;
    font-size: 2.2rem;
    background:  -webkit-linear-gradient(45deg, #181818, #282928, #181818);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;    
}
.centro {
    font-family: Noto Sans;
    background:  -webkit-linear-gradient(45deg, #181818, #282928, #181818);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    display: inline;
}
.skills {
    background-color: #d1d3d2;
    padding: 30px 0 30px 0;
    border-radius: 20px;
    width: 90%;
    margin: 0 auto 0 auto;
}
.skill-row {
    margin: 100px auto 100px auto;
    display: block;
    width: 60%;
    line-height: 2;
}
.p-code {
    width: 25%;
    float: left;
    margin-right: 30px;
    margin-bottom: 100px;
}
.p-entrepenuer {
    width: 25%;
    height: 25%;
    float: right;
    margin-left: 30px;
    margin-bottom: 100px;
}
.profile {
    margin-bottom: 60px;
}
.contact-me {
    margin-top: 80px;
}
.button-margin {
    margin: 10px 0 30px 0;
}
.btn {
    background: #e7ff30;
    background-image: -webkit-linear-gradient(top, #e7ff30, #dcf024);
    background-image: -moz-linear-gradient(top, #e7ff30, #dcf024);
    background-image: -ms-linear-gradient(top, #e7ff30, #dcf024);
    background-image: -o-linear-gradient(top, #e7ff30, #dcf024);
    background-image: linear-gradient(to bottom, #e7ff30, #dcf024);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #111;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
.btn:hover {
    background: #f8ff91;
    text-decoration: none;
}
.bottom-container {
    background: #d1d3d2;
    margin-top: 40px;
    color: #111;
    padding-top: 30px;
}
.footer-link {
    color: #111;
    margin-right: 10px;
}
.footer {
    padding: 20px 0 20px 0;
    margin: 0;
    color: #111;
    size: 12px;
}